// 
// Components
// 

.btn {
    padding: 12px 25px;
    transition: all 0.5s;
    font-weight: 500;
    border-radius: 30px;
    font-family: $font-secondary;
    box-shadow: none !important;

    &.btn-sm {
        padding: 7px 18px;
    }

    @each $color,
    $value in $theme-colors {
        &.btn-#{$color} {
            background-color: #{$value} !important;
            border: 1px solid #{$value} !important;
            border-bottom: 3px solid #{darken($value, 5%)} !important;
            color: $white !important;

            &:hover,
            &:focus,
            &.focus,
            &:active,
            &.active {
                background-color: #{darken($value, 7%)} !important;
                border:1px solid #{darken($value, 7%)} !important;
                border-bottom: 3px solid #{darken($value, 10%)} !important;
            }
        }

        &.btn-outline-#{$color} {
            border: 1px solid #{$value} !important;
            color: #{$value} !important;
        }
    }

    &.btn-light,
    &.btn-white {
        background-color: $white;
        border: 1px solid $white;
        border-bottom: 3px solid darken($white, 12%) !important;
        color: $primary !important;

        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: darken($white, 7%) !important;
            border-color: darken($white, 7%) !important;
            border-bottom: 3px solid darken($white, 15%) !important;
        }
    }

    &.btn-outline-light,
    &.btn-outline-white {
        border: 1px solid $white !important;
        color: $white !important;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $white;
            color: $dark !important;
        }
    }
}

// Modal-box
.modal {
    .video-modal {
        border: 0;
        background-color: transparent;

        .video-box {
            position: relative;
        }

        .btn-close {
            width: 26px;
            height: 26px;
            background-color: rgba($white, 0.5);
            border-radius: 6px;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            z-index: 3;

            video {
                &:focus {
                    outline: none;
                }
            }
        }

        &:hover {
            .btn-close {
                opacity: 0.5;
            }
        }
    }

    .btn-close {
        &:focus {
            box-shadow: none;
        }
    }
}

// Mixin for generating background subtle classes
@mixin bg-value-subtle($value) {
    $variable-name: "#{$prefix}#{$value}-bg-subtle";

    .bg-#{$value}-subtle {
        background-color: rgba(#{$value}, 0.5) !important;
    }
}




@each $color, $value in $theme-colors {
    .bg-#{$color} {
        background-color: #{$value} !important;
    }
    .text-#{$color} {
        color: #{$value} !important;
    }

    .btn-#{$color} {
        background-color: #{$value} !important;
    }

    .border-#{$color} {
        border-color: #{$value} !important;
    }

    .btn-outline-#{$color} {
        color: #{$value} !important;
        border: 1px solid #{$value} !important;

        &:hover {
            background-color: #{$value} !important;
            color: $light !important;
        }

        &:active {
            background-color: #{$value} !important;
            color: $light !important;
        }

        &:focus {
            background-color: #{$value} !important;
            color: $light !important;
        }
    }

}













// .btn-custom {
//     color: $white;
// }
// .btn-custom:hover,
// .btn-custom:focus,
// .btn-custom:active,
// .btn-custom.active,
// .btn-custom.focus,
// .open > .dropdown-toggle.btn-custom {
//     outline: none;
//     text-decoration: none;
//     color: $white;
// }
// .btn-custom-white {
//     background-color: $white;
//     border: 1px solid $white;
//     border-bottom: 3px solid darken($white, 12%);
// }
// .btn-custom-white:hover,
// .btn-custom-white:focus,
// .btn-custom-white:active,
// .btn-custom-white.active,
// .btn-custom-white.focus,
// .open > .dropdown-toggle.btn-custom-white {
//     outline: none;
//     background-color: darken($white, 7%);
//     border-color: darken($white, 7%);
//     border-bottom-color: darken($white, 15%);
//     color: $white;
//     text-decoration: none;
// }
// .btn-outline-white {
//     background-color: transparent;
//     border: 1px solid $white;
//     color: $white;
//     font-size: 14px;
//     letter-spacing: 1px;
//     transition: all 0.5s;
//     font-weight: 500;
//     text-transform: uppercase;
// }
// .btn-outline-white:hover,
// .btn-outline-white:focus,
// .btn-outline-white:active,
// .btn-outline-white.active,
// .btn-outline-white.focus,
// .open > .dropdown-toggle.btn-outline-white {
//     background-color: $white !important;
//     outline: none;
//     text-decoration: none;
// }